<div class="main">
    <div class="header">
        <h1>About this application</h1>
        <h3>Listed in this page are resources I used to build this application</h3>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img class="image" src="https://pbs.twimg.com/profile_images/950171714373275648/LlC7U6ov_bigger.jpg" alt="">
        </div>
        <div class="content">
            <h2 class="title">Inspiration and Credits</h2>
            <p class="description">For this application I will credit @DevDreamerCode for inspiring me to build this clone. You can visit their linked IMDB clone here: <a class="hyperlink" href="http://bit.ly/2KmIpPQ">http://bit.ly/2KmIpPQ</a></p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img src="https://cdn.worldvectorlogo.com/logos/typescript-2.svg" class="image" alt="">
        </div>
        <div class="content">
            <h2 class="title">TypeScript</h2>
            <p class="description">TypeScript, the superset langauge of JavaScript, is used by the Angular framework (as well as many others) to enforce strict datatypes when necessary.</p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img class="image" src="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36" alt="Angular">
        </div>
        <div class="content">
            <h2 class="title">Angular</h2>
            <p class="description">Angular 13 was the backbone of this project as it offered many great features to leverage.</p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper" style="background: white;">
            <img src="https://rxjs.dev/assets/images/favicons/favicon-192x192.png" class="image" alt="">
        </div>
        <div class="content">
            <h2 class="title">RxJS</h2>
            <p class="description">RxJS was used for simplifying asynchronous API/http requests.</p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper" style="background:white;">
            <img src="https://www.gstatic.com/devrel-devsite/prod/ve6ddf5bcead12ab16e41f3889a7fb0a07adddfafd7d99eb46840573a68200f4e/firebase/images/touchicon-180.png" alt="" class="image">
        </div>
        <div class="content">
            <h2 class="title">Google Firebase</h2>
            <p class="description">Firebase helped with providing a realtime database and user authentication for managing their favorite movies.</p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img class="image" src="https://www.seekpng.com/png/detail/80-803527_html5-css3-and-javascript-logos-html5-logo-png.png" alt="">
        </div>
        <div class="content">
            <h2 class="title">HTML5</h2>
            <p class="description">
                HTML5 was used (clearly) to organize the page structure.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img class="image" src="https://www.kindpng.com/picc/m/464-4640184_css3-png-download-css-icon-transparent-png.png" alt="">
        </div>
        <div class="content">
            <h2 class="title">CSS3</h2>
            <p class="description">Vanilla CSS was used for this project and its animations. I did not use any third-party libraries.</p>
        </div>
    </div>
    <div class="row">
        <div class="img-wrapper">
            <img class="image" src="https://i0.wp.com/blog.fontawesome.com/wp-content/uploads/2020/08/Proposed.png?resize=720%2C480&ssl=1" alt="">
        </div>
        <div class="content">
            <h2 class="title">Font-Awesome</h2>
            <p class="description">Font Awesome is what I used for my icons. They offer a rich variety of free icons to choose from.</p>
        </div>
    </div>
</div>
